@page
@model AzureWebAPP.Pages.DeploymentSlotsModel
@{
    ViewData["Title"] = "Deployment Slots for Page";
}
<div class="text-center">
    <h1 class="display-4">Testing Deployment Slots</h1>
    <h3>
        Validation Deployemt Slot Feature
    </h3>
</div>
